.App {
  text-align: center;
}


body{
  height: 100vh;
  background: #e1e6ea;
}

.form {
position: fixed;
top: 0;
left: 0;
z-index: 1050;
display: none;
width: 100%;
height: 100%;
overflow: hidden;
background-color: rgba(0, 0, 0, .5)
}
.update_form{
display: none;
}

.form__dialog {
max-width: 500px;
margin: 40px auto
}

.form-content{
position: relative;
width: 100%;
padding: 40px;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, .2);
border-radius: 4px;
max-height: 80vh;
overflow-y: auto
}

.form__close {
top: 8px;
right: 1000 px;
font-size: 30px;
color: #000;
opacity: .5;
font-weight: 700;
border: none;
background-color: transparent;
cursor: pointer;
position: fixed;
}

.form__title {
margin-left: 400px;
font-size: 22px;
text-transform: uppercase
}

.form__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0
}

.form .btn {
  display: block;
  width: 280px;
  margin: 0 auto
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s all;
  outline: 0;
  
}
.btn_submit{ 
  display: block;
  width: 280px;
  margin: 0 auto;
  background-color: #303030;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 18px;

}
.btn_white {
  background-color: #fff;
  position: absolute;
  left: 89%;
 
}


.btn_dark {
  background-color: #303030;
  color: #fff;
  border: none
}

.btn_min {
  height: 50px
}
.show {
  display: block
}

.hide {
  display: none
}

.note {
  margin-left: 50px ;
  background: white;
  color: #000000;
  font-size: 1.2rem;
  padding: 0.3rem;
  width: max-content;
  align-items: center;
  transition: all 0.5s ease;
  width: 93%;
  margin-bottom: 10px;
}


.note .details{
max-height: 165px;
overflow-y: auto;
}

.table-title{
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}
table{
width: 93%;
margin-left: 50px ;
margin-bottom: 10px;
height: 40px;

}
select{
text-align: center;
align-items: center;
justify-content: center;
margin: 0 auto;
margin-bottom: 20px;
margin-top: 10px;
height: 30px;
}
footer{
margin-top: 30px;
}

.table_category{
margin-top: 40px;
}
.category{
margin-left: 450px ;
background: white;
color: #000000;
font-size: 1.2rem;
padding: 0.3rem;
width: max-content;
align-items: center;
transition: all 0.5s ease;
margin-bottom: 10px;
}
.icon{
margin-left: 0px;

}
.title_add{
  height: 20px;
  margin-left: 80px;;
}
.date_picker{
  margin-left: 450px;
  margin-bottom: 20px;
  height: 30px;
  text-align: center;
}

.title {
width: 175px;
text-align: center;
margin-left:40px ;
}
.date{
width: 180px;
  text-align: center;
}
.categories{
width: 210px;
text-align: center;
}
.content{
width: 186px;
text-align: center;
}
.dates{
width: 110px;
text-align: center;
}
.note_categoty{
width: 420px;
text-align: center;
}
.active{
width: 220px;
text-align: center;
}
.archived{
width: 60px;
text-align: center;
}
.categories{
display: block;
}
.datesPicker{
margin-left: 400px;
margin-bottom: 10px;
}
